{%extends 'app/app.html'%}

{%block content%}
    <div class="container-fluid">
        <div class="row justify-content-center  p-lg-3">
            <div class="col-lg-2 col-12">
                <div class="list-group ">
                    <div class="list-group-item {%ifequal template 'all_project' %}active{%endifequal%}">
                        <a href="/users" class="nav-link text-dark">All Project</a>
                    </div>
                    <div class="list-group-item {%ifequal template 'create_project' %}active{%endifequal%}">
                        <a href="/users/?create_project" class="nav-link text-dark">Create a Project</a>
                    </div>
                    <div class="list-group-item {%ifequal template 'join_project' %}active{%endifequal%}">
                        <a href="/users/?join_project" class="nav-link text-dark">Join a Project</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-7 col-12">
                {%include template_url%}
            </div>
        </div>
    </div>
{%endblock%}