{%extends 'app/app.html'%}

{%block content%}
<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>Create A Task</h2>
            </div>
            <div class="card-body">
                <form action="/projects/{{slug}}/tasks/create/" method="post" class="row">
                    {%csrf_token%}
                    <div class="col-sm-12">
                        <label for="assign">Assign To</label>
                        <select name="assigned_to" id="assign" class="form-select" required>
                            <option value="{{user.id}}">{{user.profile.username}}</option>
                            {%for subscriber in subscribers%}
                            <option value="{{subscriber.subscriber.id}}">{{subscriber.subscriber.profile.username}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control form-control-lg" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control form-control-lg" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="resource">Please Paste All The Resource Link's URL Below </label>
                        <textarea style="resize: none;" name="resource" id="resource" class="form-control form-control-lg" ></textarea>
                    </div>
                    <div class="col-sm-12">
                        <label for="deadline">Deadline</label>
                        <input type="date" name="deadline" id="deadline" class="form-control">
                    </div>

                    <div class="col-sm-12 py-2">
                        <button class="btn btn-lg btn-primary">Create</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}